/*
	p1 
	Name: Broady Rivet
	Date: 1/8/22
	Course #: CSC 499 002
	Quarter: Fall 2022
	Project #: 1
*/
html{
	overflow-y: hidden;
}
body {
	background: #B2D1E0;
	background-color: green;
}

table{
    background-color: green;
}

input{
	color:black;
	background-color: gold;
	margin: 600px 100px -300px 400px;
	height: 100px;
	width: 200px;
	font-size: 50px;
	font-weight: bolder
}
canvas{
	margin: -5px 00px 100px -450px;
}
#game{
	border-collapse:collapse;
	width:600px;
	height:800px;
	position:absolute;
	top:65px;
	left:900px;
	text-align:center;
	border-color:#999;
	}

tr, td {
	text-align:center;
	font-family:Arial;
	text-shadow: 0px 0px 10px rgba(255,255,255,0.8);
}

.red, .black, .zero, .usedR, .usedB, .usedZ, .usedOT, .usedIT, .usedBT {
	box-sizing: border-box;
	border: 2px solid white;
	text-align: center;
	height: 40px;
	font-size: 40px;
	color: white;
}

.red{
	background-color: red;
}

.black{
	background-color: black;
}

.usedR{
	background-color: lightgray;
}

.usedB{
	background-color: lightgray;
}

.usedZ{
	background-color: lightgray;
}

.usedOT{
	background-color: lightgray;
}

.usedIT{
	background-color: lightgray;
}

.usedBT{
	background-color: lightgray;
}

.black-square{
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: black;
	border: solid white;
	transform: rotate(45deg);
}

.red-square{
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: red;
	border: solid white;
	transform: rotate(45deg);
}

.innerRight-tableItem{
	border: solid white;
	background-color: green;
	padding-top: 15px;
	padding-bottom: 30px;
	text-align: center;
	height: 10px;
	width:100px;
	font-size: 50px;
	color: white;
}

.outterRight-tableItem{
	border: solid white;
	background-color: green;
	text-align: center;
	width:50px;
	font-size: 30px;
	color: white;
}

.bottom-tableItem{
	border: solid white;
	background-color: green;
	text-align: center;
	width: 100px;
	height:80px;
	font-size: 30px;
	color:white;
}

#money{
	font-size: 30px;
	font-weight: bolder;
	color:white;
}